{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false,
        "version": "^7.7.4"
      }
    ],
    ["istanbul"]
  ],
    "presets": ["@babel/preset-env"],
    "env": {
      "test": {
        "plugins": [ "istanbul" ]
      }
    }
  }